/* main color pallet

#171717
#444444
#380201
#A91D3A
#EDEDED
#6EACDA
#03346E

*/

/* universal settings */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */

body {
  font-family: Arial, sans-serif;
  background-color: #171717;
  overflow-x: hidden;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #171717;
  color: #ededed;
}

.logo img {
  width: 70px;
  height: 70px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #ededed;
  font-size: 18px;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Sections settings */

section {
  padding: 60px 20px;
}

#about,
#projects {
  margin-top: 100px; /* Add this to prevent overlap with the fixed header */
  color: #ededed;
}

/* Home section */

#main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  padding: 0 50px;
  color: #ededed;
}

.main-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.left-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.right-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Animation CSS */
.animation {
  position: relative;
  width: 640px;
  height: 800px;
}

.main-planet,
.medium-planet,
.small-planet {
  position: relative;
  background-color: #171717;
  border-radius: 50%;
  z-index: 1;
}

.main-planet::before,
.medium-planet::before,
.small-planet::before {
  content: "";
  position: absolute;
  top: -0.5px;
  left: -0.5px;
  right: -0.5px;
  bottom: -0.5px;
  background: linear-gradient(
    45deg,
    #380201,
    #a91d3a,
    #ededed,
    #6eacda,
    #03346e
  );
  background-size: 400% 400%;
  animation: gradient-animation 8s ease infinite;
  border-radius: 50%;
  z-index: -1;
  mask: radial-gradient(circle, transparent 69%, rgb(229, 194, 194) 61%);
}

.main-planet {
  position: absolute;
  left: 128px;
  top: 280px;
  width: 320px;
  height: 320px;
}

.medium-planet {
  width: 80px;
  height: 80px;
}

.small-planet {
  width: 40px;
  height: 40px;
}

.rotate-medium {
  position: absolute;
  top: 25px;
  right: 0;
}

.rotate-small {
  position: absolute;
  left: 65px;
  top: 0;
}

.left-section h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

.left-section h3 {
  font-size: 1.1em;
  margin-bottom: 0.5em;
}

.left-section p {
  font-size: 0.8em;
  margin: 0.5em 0;
  color: #ffffff90;
}

.animated-gradient {
  display: inline-block;
  background: linear-gradient(
    45deg,
    #380201,
    #a91d3a,
    #ededed,
    #6eacda,
    #03346e
  );
  background-size: 400% 400%;
  animation: gradient-animation 8s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* About section */

/* Projects section */

/* Footer */
footer {
  text-align: center;
  padding: 50px 20px;
  background-color: #171717;
  color: #ededed;
}

.footer-message h1 {
  font-size: 36px;
}

.social-icons {
  margin: 20px 0;
}

.social-icons a {
  margin: 0 15px;
}

.social-icons img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s;
}

.social-icons img:hover {
  transform: scale(1.2);
}

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #171717;
  padding-top: 60px;
}

.popup-content {
  background-color: #ededed;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #444444;
  width: 80%;
  max-width: 500px;
  text-align: left;
}

.popup-content h2 {
  margin-top: 0;
  color: #171717;
  margin: auto;
}

.popup-content label {
  display: block;
  margin: 10px 0 5px;
  color: #171717;
}

.popup-content input,
.popup-content textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ededed;
  border-radius: 4px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-group .small-button {
  width: 30%;
  padding: 8px;
  background-color: #171717;
  color: #ededed;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  box-sizing: border-box;
}

.button-group button {
  width: 48%;
  padding: 10px;
  background-color: #171717;
  color: #ededed;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  box-sizing: border-box;
}

.button-group button:hover {
  background-color: #444444;
}

.email-form {
  color: #171717;
}

.copy-message {
  display: none;
  color: #da0037;
  margin-top: 10px;
  text-align: center;
}

.popup-content textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ededed;
  border-radius: 4px;
  resize: vertical; /* Allow only vertical resizing */
  max-height: 300px; /* Set a maximum height to prevent overflow */
}

.close {
  color: #444444;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #171717;
  text-decoration: none;
  cursor: pointer;
}

.footer-info {
  margin-top: 20px;
}

.footer-info img {
  width: 50px;
  height: 50px;
}

.footer-info p {
  margin: 10px 0 0;
}
