/*** main color pallet

#171717
#444444
#380201
#A91D3A
#EDEDED
#6EACDA
#03346E

*/

/*** universal settings */

* {
  margin: 0;
  padding: 0;
  box-sizing: borde r-box;
}

/** Body */

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scroll-padding: 6.25rem; /** 100px */
  scrollbar-gutter: 9.1rem; /** 8px */
  scrollbar-color: #171717 #444444;
}

body {
  font-family: Arial, sans-serif;
  background-color: #171717;

  font-size: 1rem; /** Base font size */
  line-height: 1.6; /** Base line height */
}

/** Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.618rem 1.25rem; /* Applying the golden ratio */
  background-color: #171717;
  color: #ededed;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo img {
  width: 4.375rem; /** 70px */
  height: 4.375rem; /** 70px */
  margin-left: 1rem;
}

nav ul {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin-right: 3rem;
}

nav ul li {
  margin-left: 1.25rem; /** 20px */
  position: relative;
  display: inline-block;
  color: #ededed;
  cursor: pointer;
  transition: 0.4s all ease;
}

nav ul li:hover {
  color: #5a0909;
  transition: 0.4s all ease;
}

nav ul li::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #a91d3a;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

nav ul li:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

nav ul li a {
  text-decoration: none;
  color: #ededed;
  font-size: 1.125rem; /** 18px */
}

/** Sections settings */

section {
  padding: 3.75rem 1rem;
  margin-top: 2rem;
  scroll-snap-align: start;
}

#about {
  margin-top: 6.25rem; /** 100px */
  margin-top: 1rem;
  height: 70vh; /* Adjust this based on your header height */
}

#projects {
  margin-top: 6.25rem; /** 100px */
  margin-top: 1rem;
  height: auto;
}

/** Home section */

#main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90vh;
  padding: 0 3.125rem; /* 50px */
  color: #ededed;
  margin-top: 1rem;
  padding-top: 3rem; /* Adjust this based on your header height */
}

.main-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 6.25rem;
  margin-bottom: 6.25rem;
}
/*? left section  */
.left-section {
  flex: 1 1 60%; /* Allows growing and shrinking with a basis of 60% */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  max-width: 40rem;
  min-width: 20rem;
}

.left-section h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

.left-section h3 {
  font-size: 1.1em;
  margin-bottom: 0.5em;
}

.left-section p {
  font-size: 0.8em;
  margin: 0.5em 0;
  color: #ffffff90;
}

/*? right section  */
.right-section {
  flex: 1 1 40%; /* Allows growing and shrinking with a basis of 40% */
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  min-width: 20rem;
}

/** Animation CSS */
.animation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem; /** Adjusted using golden ratio */
  width: 100%; /* Take available width */
  max-width: 20rem; /* Ensure it doesn't grow too large */
  height: auto;
}

.main-planet {
  position: relative;
  width: 100%; /* Take available width */
  max-width: 20rem; /* Ensure it doesn't grow too large */
  height: auto;
  aspect-ratio: 1/1; /* Keep it square */
}

.medium-planet,
.small-planet {
  position: relative;
  background-color: #171717;
  border-radius: 50%;
  z-index: 1;
}

.main-planet::before,
.medium-planet::before,
.small-planet::before {
  content: "";
  position: absolute;
  top: -0.03125rem; /** -0.5px */
  left: -0.03125rem; /** -0.5px */
  right: -0.03125rem; /** -0.5px */
  bottom: -0.03125rem; /** -0.5px */
  background: linear-gradient(
    45deg,
    #380201,
    #a91d3a,
    #ededed,
    #6eacda,
    #03346e
  );
  background-size: 400% 400%;
  animation: gradient-animation 8s ease infinite;
  border-radius: 50%;
  z-index: -1;
  mask: radial-gradient(circle, transparent 70%, rgb(255, 255, 255) 61%);
}

.main-planet {
  position: relative;
  width: 20rem; /** 320px */
  height: 20rem; /** 320px */
}

.medium-planet {
  width: 5rem; /** 80px */
  height: 5rem; /** 80px */
}

.small-planet {
  width: 2.5rem; /** 40px */
  height: 2.5rem; /** 40px */
}

.rotate-medium {
  position: absolute;
  top: 1.5625rem; /** 25px */
  right: 0;
}

.rotate-small {
  position: absolute;
  left: 4.0625rem; /** 65px */
  top: 0;
}

.animated-gradient {
  display: inline-block;
  background: linear-gradient(
    45deg,
    #380201,
    #a91d3a,
    #ededed,
    #6eacda,
    #03346e
  );
  background-size: 400% 400%;
  animation: gradient-animation 8s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/** About section */
#about-me {
  color: #c58383; /* Text color */
  padding: 50px 0; /* Padding for the section */
}

.about-me-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}

.about-me-image img {
  max-width: 100%;
  height: auto;
  border-radius: 5px; /* Optional: Add rounded corners */
  filter: grayscale(50%); /* Optional: Add a grayscale effect */
}

.about-me-image {
  flex: 1;
  padding-right: 20px; /* Space between the image and text */
}

.about-me-text {
  flex: 2;
  padding-left: 20px;
}

.about-me-text h2 {
  color: #ededed;
  font-size: 24px;
  margin-bottom: 10px;
}

.about-me-text p {
  color: #ededed;
  font-size: 18px;
  line-height: 1.6;
}

.about-me-text a {
  color: #d5eafb6b;
  text-decoration: none;
}

.about-me-text a:hover {
  color: #6eacda;
  transition: 0.6s all ease;
}

.about-me-text a::after {
  content: "";
  position: absolute;
  transform: scaleX(0);
  background-color: #a91d3a;
  transform-origin: bottom right;
  transition: transform 1s ease-out;
  width: 100%;
  height: 2px;
  bottom: -500px;
  left: 0;
}

.about-me-text a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.about-container {
  text-align: center;
  padding: 2rem 1rem; /* Add padding as needed */
  background-color: #f2f2f2; /* Background color */
  color: #333; /* Text color */
}

.About-buttons {
  margin-top: 1.5rem; /* Space above the buttons */
  display: flex;
  justify-content: center;
  gap: 1rem; /* Space between the buttons */
}

.about-button {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px;
  outline: 0;
  color: #ededed;
  border: 1px solid #171717;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  touch-action: manipulation;
  text-decoration: none; /* Ensure text-decoration is none for links */
}

.about-button::after {
  content: "";
  background-color: #570b0a;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.about-button:hover::after {
  top: 0;
  left: 0;
  background-color: #a91d3a;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}

/** Projects section */

#projects {
  padding: 0;
  background-color: #171717;
  color: #ededed;
}

#projects h1 {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 1rem;
}

#projects h3 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

:root {
  --cards: 4;
  --cardHeight: 65vh;
  --cardTopPadding: 1em;
  --cardMargin: 10vw;
  --headerHeight: 100px;
}

.projects-grid-container {
  background-color: #171717;
  width: 100%;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  list-style: none;
  display: grid;
  grid-template-rows: repeat(var(--cards), var(--cardHeight));
  gap: var(--cardMargin);
  padding-bottom: calc(3 * var(--cardTopPadding)); /* Adjusted for 4 cards */
  margin-bottom: var(--cardMargin);
}

#cards li {
  list-style: none;
}

#card1 {
  --index: 1;
}

#card2 {
  --index: 2;
}

#card3 {
  --index: 3;
}

#card4 {
  --index: 4;
}

/* #card5 {
  --index: 5;
}

#card6 {
  --index: 6;
}

#card7 {
  --index: 7;
}

#card8 {
  --index: 8;
} */

.card {
  position: sticky;
  top: 0;
  padding-top: calc(var(--index) * var(--cardTopPadding));
  top: var(--headerHeight);
  filter: blur(0.13rem);
  transition: all 0.5s ease-in-out;
  opacity: 0.5;
}

.card.focused {
  opacity: 1;
  filter: opacity(1);
}

.card:hover {
  transform: scale(1.01);
}

.project-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-title {
  font-size: 1.25rem;
  margin: 0;
}

.project-links {
  display: flex;
  gap: 0.5rem;
}

/* 
#171717
#444444
#380201
#A91D3A
#EDEDED
#6EACDA
#03346E
 */

.project-link {
  appearance: button;
  text-decoration: none;
  background-color: #650e0c;
  background-image: none;
  border-radius: 0.25rem; /* 4px */
  box-shadow: #ededed 0.25rem 0.25rem 0 0, #000 0.25rem 0.25rem 0 0.0625rem; /* 4px 4px 0 0, 4px 4px 0 1px */
  box-sizing: border-box;
  color: #ededed;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
  font-size: 1rem; /* 14px */
  font-weight: 400;
  line-height: 1rem;
  margin: 0 0.3125rem 0.625rem 0; /* 0 5px 10px 0 */
  overflow: visible;
  padding: 0.3rem 1rem; /* 12px 40px */
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  transition: all 0.3s;
}

.project-link:focus {
  text-decoration: none;
}

.project-link:hover {
  text-decoration: none;
  background-color: #c58383;
  transform: scale(1.05);
}

.project-link:active {
  box-shadow: rgba(0, 0, 0, 0.125) 0 0.1875rem 0.3125rem inset; /* 0 3px 5px inset */
  outline: 0;
}

.project-link:not([disabled]):active {
  box-shadow: #fff 0.125rem 0.125rem 0 0, #000 0.125rem 0.125rem 0 0.0625rem; /* #fff 2px 2px 0 0, #000 2px 2px 0 1px */
  transform: translate(0.125rem, 0.125rem); /* translate(2px, 2px) */
}

.project-image-wrapper {
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
  transition: all 0.3s;
}

.project-image:hover {
  filter: blur(0);
}

.project-description {
  font-size: 1rem;
  color: #ffffff;
  text-align: center;
  margin-top: -4.3rem;
  margin-left: 4rem;
  margin-right: 4rem;
  background-color: #333333; /* Darker background color */
  padding: 1rem; /* Add padding for more space */
  border-radius: 0.5rem; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  position: absolute;
}

/** slider section */

.slider {
  background-color: transparent;
  height: 2rem;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-bottom: 10rem;
}

#slider h1 {
  color: #ffffff;
  font-size: 5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.slider img {
  padding-left: 2rem;
  padding-right: 2rem;
  height: 10rem;
  width: 10rem;
  object-fit: contain;
  object-position: center;
  transition: transform 0.3s;
}

.slider::before,
.slider::after {
  background: linear-gradient(
    to right,
    #a75b5b 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 100%;
  position: absolute;
  width: 100px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  animation: scroll 80s linear infinite;
  display: flex;
  width: calc(250px * 18);
}

.slider .slide-track:hover {
  animation-play-state: pause;
}

.slider .slide {
  height: 250px;
  width: 250px;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 9));
  }
}

/** Rollover Animation */
.project-item.light {
  filter: brightness(100%) grayscale(0%);
}

.project-item.dark {
  filter: brightness(30%) grayscale(100%);
  transform: scale(1.01);
}

/** Footer */
footer {
  text-align: center;
  position: relative;
  bottom: 0;
  padding: 3.125rem 1.25rem; /** 50px 20px */
  background-color: #171717;
  color: #ededed;
  scroll-snap-align: start;
}

.footer-message h1 {
  font-size: 2.25rem; /** 36px */
}

.social-icons {
  margin: 1.25rem 0; /** 20px */
}

.social-icons a {
  margin: 0 0.9375rem; /** 15px */
}

.social-icons img {
  width: 2.5rem; /** 40px */
  height: 2.5rem; /** 40px */
  transition: transform 0.3s;
}

.social-icons img:hover {
  transform: scale(1.2);
}

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #ffffff00;
  padding-top: 3.75rem; /** 60px */
  /*  */
}

.popup-content {
  background-color: #ededed42;
  backdrop-filter: blur(10px);
  margin: 5% auto;
  padding: 1.25rem; /** 20px */
  border: 1px solid #444444;
  width: 80%;
  max-width: 31.25rem; /** 500px */
  text-align: left;
}

.popup-content h2 {
  margin-top: 0;
  color: #171717;
  margin: auto;
}

.popup-content label {
  display: block;
  margin: 0.625rem 0 0.3125rem; /** 10px 0 5px */
  color: #171717;
}

.popup-content textarea {
  width: 100%;
}

.popup-content input,
.popup-content textarea {
  width: 90%;
  padding: 0.625rem; /** 10px */
  margin-bottom: 0.625rem; /** 10px */
  border: 1px solid #ededed;
  resize: vertical;
  border-radius: 0.25rem; /** 4px */
}

.button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-group .small-button {
  width: 30%;
  padding: 0.5rem; /** 8px */
  background-color: #171717;
  color: #ededed;
  border: none;
  border-radius: 0.25rem; /** 4px */
  font-size: 0.875rem; /** 14px */
  cursor: pointer;
  box-sizing: border-box;
}

.button-group button {
  width: 48%;
  padding: 0.625rem; /** 10px */
  background-color: #171717;
  color: #ededed;
  border: none;
  border-radius: 0.25rem; /** 4px */
  font-size: 0.875rem; /** 14px */
  cursor: pointer;
  box-sizing: border-box;
}

.button-group button:hover {
  background-color: #444444;
}

.email-form {
  color: #171717;
}

.copy-message {
  display: none;
  color: #da0037;
  margin-top: 0.625rem; /** 10px */
  text-align: center;
}

.close {
  color: #444444;
  float: right;
  font-size: 1.75rem; /** 28px */
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #171717;
  text-decoration: none;
  cursor: pointer;
}

.footer-info {
  margin-top: 1.25rem; /** 20px */
}

.footer-info img {
  width: 3.125rem; /** 50px */
  height: 3.125rem; /** 50px */
}

.footer-info p {
  margin: 0.625rem 0 0; /** 10px 0 0 */
}
