<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
    <link rel="stylesheet" href="/static/css/base.css" />
    <link rel="stylesheet" href="/static/css/style.css?v=1.0" />
    <link
      rel="icon"
      href="/static/images/logo.svg"
      sizes="16x16"
      type="image/svg+xml"
    />
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="#main"> <img src="/static/images/logo.svg" alt="logo" /></a>
      </div>
      <nav>
        <ul class="nav-links">
          <li><a href="#main">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </header>

    <section id="main">
      <div class="main-content">
        <div class="left-section">
          <h1>
            Hey, I'm <span class="animated-gradient" id="name">Naif</span>.
          </h1>
          <h3>
            I'm an enthusiastic
            <span class="animated-gradient" id="developer">AI student</span>
            passionate about advancing technology and creating innovative
            solutions.
          </h3>
          <p>Currently a student at Imam Abdulrahman Bin Faisal University.</p>
        </div>
        <div class="right-section">
          <div class="animation">
            <div class="main-planet">
              <div class="rotate-medium">
                <div class="medium-planet"></div>
              </div>
              <div class="rotate-small">
                <div class="small-planet"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="about">
      <div class="about-me-container">
        <div class="about-me-image">
          <img src="/static/images/me.jpg" alt="Your Image" />
        </div>
        <div class="about-me-text">
          <h2>A bit about me</h2>
          <p>
            I’m currently working towards a bachelor's degree in Artificial
            Intelligence at Imam Abdulrahman Bin Faisal University. My passion
            lies in solving problems and building innovative solutions within
            the realm of AI, from developing software projects to exploring
            entrepreneurial ventures. I'm dedicated to learning and applying AI
            techniques to real-world challenges, continuously expanding my
            knowledge and skills in this exciting field.
          </p>
          <p>
            Want to Connect together?
            <a href="#contact">Drop me a line.</a>
          </p>
        </div>
      </div>
    </section>

    <section id="projects">
      <h1>My Projects</h1>
      <div class="projects-grid-container">
        <ul class="cards">
          <li class="card" id="card1">
            <div class="project-header">
              <h3 class="project-title">Email Generator</h3>
              <div class="project-links">
                <a
                  href="https://email-gen-nc4.streamlit.app/"
                  class="project-link"
                  >Live</a
                >
                <a
                  href="https://github.com/Naifcx47350/Projects/tree/main/Email_generator"
                  class="project-link"
                  >GitHub</a
                >
              </div>
            </div>
            <div class="project-image-wrapper">
              <a href="https://email-gen-nc4.streamlit.app/">
                <img
                  src="static\images\Email-gen.png"
                  alt="Project Image"
                  class="project-image"
              /></a>
            </div>
            <p class="project-description">
              Short project description goes here.
            </p>
          </li>

          <li class="card" id="card2">
            <div class="project-header">
              <h3 class="project-title">Email Generator</h3>
              <div class="project-links">
                <a
                  href="https://email-gen-nc4.streamlit.app/"
                  class="project-link"
                  >Live</a
                >
                <a
                  href="https://github.com/Naifcx47350/Projects/tree/main/Email_generator"
                  class="project-link"
                  >GitHub</a
                >
              </div>
            </div>
            <div class="project-image-wrapper">
              <a href="https://email-gen-nc4.streamlit.app/">
                <img
                  src="static\images\Email-gen.png"
                  alt="Project Image"
                  class="project-image"
              /></a>
            </div>
            <p class="project-description">
              Short project description goes here.
            </p>
          </li>

          <li class="card" id="card3">
            <div class="project-header">
              <h3 class="project-title">Email Generator</h3>
              <div class="project-links">
                <a
                  href="https://email-gen-nc4.streamlit.app/"
                  class="project-link"
                  >Live</a
                >
                <a
                  href="https://github.com/Naifcx47350/Projects/tree/main/Email_generator"
                  class="project-link"
                  >GitHub</a
                >
              </div>
            </div>
            <div class="project-image-wrapper">
              <a href="https://email-gen-nc4.streamlit.app/">
                <img
                  src="static\images\Email-gen.png"
                  alt="Project Image"
                  class="project-image"
              /></a>
            </div>
            <p class="project-description">
              Short project description goes here.
            </p>
          </li>

          <li class="card" id="card4">
            <div class="project-header">
              <h3 class="project-title">Email Generator</h3>
              <div class="project-links">
                <a
                  href="https://email-gen-nc4.streamlit.app/"
                  class="project-link"
                  >Live</a
                >
                <a
                  href="https://github.com/Naifcx47350/Projects/tree/main/Email_generator"
                  class="project-link"
                  >GitHub</a
                >
              </div>
            </div>
            <div class="project-image-wrapper">
              <a href="https://email-gen-nc4.streamlit.app/">
                <img
                  src="static\images\Email-gen.png"
                  alt="Project Image"
                  class="project-image"
              /></a>
            </div>
            <p class="project-description">
              Short project description goes here.
            </p>
          </li>

          <li class="card" id="card5">
            <div class="project-header">
              <h3 class="project-title">Email Generator</h3>
              <div class="project-links">
                <a
                  href="https://email-gen-nc4.streamlit.app/"
                  class="project-link"
                  >Live</a
                >
                <a
                  href="https://github.com/Naifcx47350/Projects/tree/main/Email_generator"
                  class="project-link"
                  >GitHub</a
                >
              </div>
            </div>
            <div class="project-image-wrapper">
              <a href="https://email-gen-nc4.streamlit.app/">
                <img
                  src="static\images\Email-gen.png"
                  alt="Project Image"
                  class="project-image"
              /></a>
            </div>
            <p class="project-description">
              Short project description goes here.
            </p>
          </li>

          <li class="card" id="card6">
            <div class="project-header">
              <h3 class="project-title">Email Generator</h3>
              <div class="project-links">
                <a
                  href="https://email-gen-nc4.streamlit.app/"
                  class="project-link"
                  >Live</a
                >
                <a
                  href="https://github.com/Naifcx47350/Projects/tree/main/Email_generator"
                  class="project-link"
                  >GitHub</a
                >
              </div>
            </div>
            <div class="project-image-wrapper">
              <a href="https://email-gen-nc4.streamlit.app/">
                <img
                  src="static\images\Email-gen.png"
                  alt="Project Image"
                  class="project-image"
              /></a>
            </div>
            <p class="project-description">
              Short project description goes here.
            </p>
          </li>

          <li class="card" id="card7">
            <div class="project-header">
              <h3 class="project-title">Email Generator</h3>
              <div class="project-links">
                <a
                  href="https://email-gen-nc4.streamlit.app/"
                  class="project-link"
                  >Live</a
                >
                <a
                  href="https://github.com/Naifcx47350/Projects/tree/main/Email_generator"
                  class="project-link"
                  >GitHub</a
                >
              </div>
            </div>
            <div class="project-image-wrapper">
              <a href="https://email-gen-nc4.streamlit.app/">
                <img
                  src="static\images\Email-gen.png"
                  alt="Project Image"
                  class="project-image"
              /></a>
            </div>
            <p class="project-description">
              Short project description goes here.
            </p>
          </li>

          <li class="card" id="card8">
            <div class="project-header">
              <h3 class="project-title">Email Generator</h3>
              <div class="project-links">
                <a
                  href="https://email-gen-nc4.streamlit.app/"
                  class="project-link"
                  >Live</a
                >
                <a
                  href="https://github.com/Naifcx47350/Projects/tree/main/Email_generator"
                  class="project-link"
                  >GitHub</a
                >
              </div>
            </div>
            <div class="project-image-wrapper">
              <a href="https://email-gen-nc4.streamlit.app/">
                <img
                  src="static\images\Email-gen.png"
                  alt="Project Image"
                  class="project-image"
              /></a>
            </div>
            <p class="project-description">
              Short project description goes here.
            </p>
          </li>
        </ul>
      </div>
    </section>

    <footer id="contact">
      <div class="footer-message">
        <h2>Let's Connect</h2>
      </div>
      <div class="social-icons">
        <a href="#" id="email-icon"
          ><img
            src="/static/images/gmail.svg
          "
            alt="Email"
        /></a>
        <a href="https://twitter.com/Naif4735"
          ><img
            src="/static/images/twitter.svg
          "
            alt="Twitter"
        /></a>
        <a href="https://github.com/Naifcx47350"
          ><img
            src="/static/images/github.svg
          "
            alt="GitHub"
        /></a>
        <a href="https://www.linkedin.com/in/naif-alsahabi-085720249/"
          ><img src="/static/images/linkedin.svg" alt="LinkedIn"
        /></a>
      </div>

      <div id="email-popup" class="popup">
        <div class="popup-content">
          <span class="close">&times;</span>
          <h2>Send a Message</h2>
          <form id="email-form" class="email-form">
            <label for="user-email">Your Email:</label>
            <input
              type="email"
              id="user-email"
              name="user-email"
              placeholder="example@domain.com"
              required
            />

            <label for="subject">Subject:</label>
            <input
              type="text"
              id="subject"
              name="subject"
              placeholder="Subject"
              required
            />

            <label for="message">Message:</label>
            <textarea
              id="message"
              name="message"
              placeholder="Your message here..."
              required
            ></textarea>

            <div class="button-group">
              <button type="button" id="copy-email-button" class="small-button">
                Copy My Email
              </button>
              <button type="submit">Send a Message</button>
            </div>
            <div id="copy-message" class="copy-message">Email copied!</div>
          </form>
        </div>
      </div>

      <hr />
      <div class="footer-info">
        <img src="/static/images/logo.svg" alt="Logo" />
        <p>Last updated: 2024/7 | Created by Naif Alsahabi</p>
      </div>
    </footer>

    <script src="/static/js/main.js"></script>
  </body>
</html>
