<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
    <link rel="stylesheet" href="/static/css/style.css?v=5.0" />
    <link
      rel="icon"
      href="/static/images/logo.svg"
      sizes="16x16"
      type="image/svg+xml"
    />
  </head>
  <body>

    <div class="loading-page">
        <svg id="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">

            <path
                d="M415.44 512h-95.11L212.12 357.46v91.1L125.69 512H28V29.82L68.47 0h108.05l123.74 176.13V63.45L386.69 0h97.69v461.5zM38.77 35.27V496l72-52.88V194l215.5 307.64h84.79l52.35-38.17h-78.27L69 13zm82.54 466.61l80-58.78v-101l-79.76-114.4v220.94L49 501.89h72.34zM80.63 10.77l310.6 442.57h82.37V10.77h-79.75v317.56L170.91 10.77zM311 191.65l72 102.81V15.93l-72 53v122.72z" />
        </svg>


        <div class="name-container">
            <div class="logo-name">Naif Alsahabi</div>
        </div>
    </div>

    

    <header>
      <div class="logo">
        <a href="#main"> <img src="/static/images/logo.svg" alt="logo" /></a>
      </div>
      <button class="menu-button">☰</button>
      <nav>
        <ul class="nav-links">
          <li><a href="#main">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </header>

    <section id="main">
      <div class="main-content">
        <div class="left-section">
          <h1>
            Hey, I'm <span class="animated-gradient" id="name">Naif</span>.
          </h1>
          <h3>
            I'm an enthusiastic
            <span class="animated-gradient" id="developer">AI student</span>
            passionate about advancing technology and creating innovative
            solutions.
          </h3>
          <p>Currently a student at Imam Abdulrahman Bin Faisal University.</p>
        </div>
        <div class="right-section">
          <div class="animation">
            <div class="main-planet">
              <div class="rotate-medium">
                <div class="medium-planet"></div>
              </div>
              <div class="rotate-small">
                <div class="small-planet"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="about">
      <div class="about-me-container">
        <div class="about-me-image">
          <img src="/static/images/me.jpg" alt="Your Image" />
        </div>
        <div class="about-me-text">
          <h2>A bit about me</h2>
          <p>
            I’m currently working towards a bachelor's degree in Artificial
            Intelligence at Imam Abdulrahman Bin Faisal University. My passion
            lies in solving problems and building innovative solutions within
            the realm of AI, from developing software projects to exploring
            entrepreneurial ventures. I'm dedicated to learning and applying AI
            techniques to real-world challenges, continuously expanding my
            knowledge and skills in this exciting field.
          </p>
          <div class="about-buttons">
            <button id="contactButton" class="about-button">Contact</button>
            <button id="downloadCvButton" class="about-button">
              Download CV
            </button>
          </div>
        </div>
      </div>
    </section>

    <section id="projects">
      <h1>My Projects</h1>
      <div class="projects-grid-container">
        <ul class="cards">
          <li class="card" id="card1">
            <div class="project-header">
              <h3 class="project-title">Email Generator</h3>
              <div class="project-links">
                <a
                  href="https://email-gen-nc4.streamlit.app/"
                  class="project-link"
                  >Live</a
                >
                <a
                  href="https://github.com/Naifcx47350/Email-gen"
                  class="project-link"
                  >GitHub</a
                >
              </div>
            </div>
            <div class="project-image-wrapper">
              <a href="https://email-gen-nc4.streamlit.app/">
                <img
                  src="static\images\Email-gen.png"
                  alt="Project Image"
                  class="project-image"
              /></a>
            </div>
            <p class="project-description">
              Developed an email generation tool using OpenAI's API and
              Streamlit. Users can input various parameters like description,
              subject, reason, language, length, and tone to generate an
              appropriate email.
            </p>
          </li>

          <li class="card" id="card2">
            <div class="project-header">
              <h3 class="project-title">Text Summarizer</h3>
              <div class="project-links">
                <a
                  href="https://github.com/Naifcx47350/Text-Summarizer"
                  class="project-link"
                  >GitHub</a
                >
              </div>
            </div>
            <div class="project-image-wrapper">
              <a href="https://github.com/Naifcx47350/Text-Summarizer">
                <img
                  src="static\images\Text-summarizer.png"
                  alt="Project Image"
                  class="project-image"
              /></a>
            </div>
            <p class="project-description">
              A text summarizer application using the OpenAI API and PyPDF2. The
              application can extract text from PDF files and summarize it. It
              utilizes OpenAI's GPT-3.5-turbo model to generate concise
              summaries, focusing on capturing the main points and key arguments
              of the provided text.
            </p>
          </li>

          <li class="card" id="card3">
            <div class="project-header">
              <h3 class="project-title">Library Management System</h3>
              <div class="project-links">
                <a
                  href="https://github.com/Naifcx47350/Library_Management_System"
                  class="project-link"
                  >GitHub</a
                >
              </div>
            </div>
            <div class="project-image-wrapper">
              <a
                href="https://github.com/Naifcx47350/Library_Management_System"
              >
                <img
                  src="static\images\Library_Management_System.png"
                  alt="Project Image"
                  class="project-image"
              /></a>
            </div>
            <p class="project-description">
              A Java-based application developed as a proof of concept. The
              project includes a full interface for managing books, user
              accounts, and transactions, with features like login, admin pages,
              and activity logs. Note: As a proof of concept, some
              functionalities may not work on all devices.
            </p>
          </li>
        </ul>
      </div>
    </section>

    <section id="slider">
      <h1>Technologies & Tools</h1>
      <div class="slider">
        <div class="slide-track">
          <div class="slide">
            <img src="/static/images/plogos/Python.svg" alt="Slide 1" />
          </div>
          <div class="slide">
            <img src="/static/images/Plogos/java.svg" alt="Slide 2" />
        </div>
        <div class="slide">
          <img src="/static/images/Plogos/cpp.svg" alt="Slide 3" />
      </div>
      <div class="slide">
        <img src="/static/images/Plogos/html.svg" alt="Slide 4" />
      </div>
      <div class="slide">
        <img src="/static/images/Plogos/css.svg" alt="Slide 5" />
      </div>
      <div class="slide">
        <img src="/static/images/Plogos/js.svg" alt="Slide 6" />
      </div>
      <div class="slide">
        <img src="/static/images/Plogos/Cs.svg" alt="Slide 7" />
      </div>
      <div class="slide">
        <img src="/static/images/Plogos/Dj.svg" alt="Slide 8" />
      </div>
      <div class="slide">
        <img src="/static/images/Plogos/fapi.svg" alt="Slide 9" />
      </div>

      <div class="slide">
            <img src="/static/images/plogos/Python.svg" alt="Slide 1" />
          </div>
          <div class="slide">
            <img src="/static/images/Plogos/java.svg" alt="Slide 2" />
        </div>
        <div class="slide">
          <img src="/static/images/Plogos/cpp.svg" alt="Slide 3" />
      </div>
      <div class="slide">
        <img src="/static/images/Plogos/html.svg" alt="Slide 4" />
      </div>
      <div class="slide">
        <img src="/static/images/Plogos/css.svg" alt="Slide 5" />
      </div>
      <div class="slide">
        <img src="/static/images/Plogos/js.svg" alt="Slide 6" />
      </div>
      <div class="slide">
        <img src="/static/images/Plogos/Cs.svg" alt="Slide 7" />
      </div>
      <div class="slide">
        <img src="/static/images/Plogos/Dj.svg" alt="Slide 8" />
      </div>
      <div class="slide">
        <img src="/static/images/Plogos/fapi.svg" alt="Slide 9" />
      </div>
    </section>

    <footer id="contact">
      <div class="footer-message">
        <h2>Let's Connect</h2>
      </div>
      <div class="social-icons">
        <a href="#" id="email-icon"
          ><img
            src="/static/images/gmail.svg
          "
            alt="Email"
        /></a>
        <a href="https://twitter.com/Naif4735"
          ><img
            src="/static/images/twitter.svg
          "
            alt="Twitter"
        /></a>
        <a href="https://github.com/Naifcx47350"
          ><img
            src="/static/images/github.svg
          "
            alt="GitHub"
        /></a>
        <a href="https://www.linkedin.com/in/naif-alsahabi-085720249/"
          ><img src="/static/images/linkedin.svg" alt="LinkedIn"
        /></a>
      </div>

      <div id="email-popup" class="popup">
        <div class="popup-content">
          <span class="close">&times;</span>
          <h2>Send a Message</h2>
          <form id="email-form" class="email-form">
            <label for="user-email">Your Email:</label>
            <input
              type="email"
              id="user-email"
              name="user-email"
              placeholder="example@domain.com"
              required
            />

            <label for="subject">Subject:</label>
            <input
              type="text"
              id="subject"
              name="subject"
              placeholder="Subject"
              required
            />

            <label for="message">Message:</label>
            <textarea
              id="message"
              name="message"
              placeholder="Your message here..."
              required
            ></textarea>

            <div class="button-group">
              <button type="button" id="copy-email-button" class="small-button">
                Copy My Email
              </button>
              <button type="submit">Send a Message</button>
            </div>
            <div id="copy-message" class="copy-message">Email copied!</div>
          </form>
        </div>
      </div>

      <hr />
      <div class="footer-info">
        <img src="/static/images/logo.svg" alt="Logo" />
        <p>Last updated: 2024/8 | Created by Naif Alsahabi</p>
      </div>
    </footer>

    <script src="/static/js/main.js?v=1.0"></script>
  </body>
</html>
