<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
h

<div class="projects-grid">
  <div class="project-item">
    <div class="project-header">
      <h3 class="project-title">Email Generator</h3>
      <div class="project-links">
        <a href="https://email-gen-nc4.streamlit.app/" class="project-link"
          >Live</a
        >
        <a
          href="https://github.com/Naifcx47350/Projects/tree/main/Email_generator"
          class="project-link"
          >GitHub</a
        >
      </div>
    </div>
    <div class="project-image-wrapper">
      <a href="https://email-gen-nc4.streamlit.app/">
        <img
          src="static\images\Email-gen.png"
          alt="Project Image"
          class="project-image"
      /></a>
    </div>
    <p class="project-description">Short project description goes here.</p>
  </div>
</div>
